
button {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404C5D 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465B, 
                 5px  5px 15px #41465B, 
      inset      5px  5px 10px #212121, 
      inset     -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465B, 
                 5px  5px 15px #41465B, 
      inset      5px  5px 10px #212121, 
      inset     -5px -5px 10px #212121;
  }
  
  button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                      -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                       -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: -30px;
  }
  
  .form__label {
    position: relative;
    top: 0;
    margin-bottom: 10px;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: relative;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  .card {
    width: 350px;
    height: 235px;
    position: relative;
    padding: 25px;
    margin: 20px;
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
  }
  
//   .card:hover {
//     transform: scale(1.05);
//   }
  
  .container {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -35px;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
  }
  
  .cloud {
    width: 250px;
  }
  
  .front {
    padding-top: 45px;
    margin-left: 25px;
    display: inline;
    position: absolute;
    z-index: 11;
    animation: clouds 8s infinite;
    animation-timing-function: ease-in-out;
  }
  
  .back {
    margin-top: -30px;
    margin-left: 150px;
    z-index: 12;
    animation: clouds 12s infinite;
    animation-timing-function: ease-in-out;
  }
  
  .right-front {
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
  }
  
  .left-front {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
  }
  
  .right-back {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -20px;
    z-index: 5;
  }
  
  .left-back {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
  }
  
  .sun {
    width: 120px;
    height: 120px;
    background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 60px;
    display: inline;
    position: absolute;
  }
  
  .sunshine {
    animation: sunshines 2s infinite;
  }
  
  @keyframes sunshines {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }
  
  @keyframes clouds {
    0% {
      transform: translateX(15px);
    }
  
    50% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(15px);
    }
  }
  
  .card-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
    text-align: left;
  }
  
  .card-header span:first-child {
    word-break: break-all;
    font-weight: 800;
    font-size: 20px;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.66);
  }
  .card-header span:nth-child(2) {
    word-break: break-all;
    font-weight: 800;
    font-size: 20px;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.66);
  }
  
  .card-header span:last-child {
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: rgba(0, 0, 0, 0.33);
  }
  
  .temp {
    position: absolute;
    left: 25px;
    bottom: 12px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: rgba(87, 77, 51, 1);
  }
  
  .temp-scale {
    width: 80px;
    height: 36px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 9px;
  }
  
  .temp-scale span {
    font-weight: 700;
    font-size: 13px;
    line-height: 134.49%;
    color: rgba(87, 77, 51, 0.66);
  }
  .navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ff8c00;
  }
  